* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #008080;
}

li {
    list-style: none;
}

img {
    width: 280px;
    height: 180px;
}

.main-navigation {
    position: fixed;
    width: 100vw;
    height: 60px;
    background-color: #e0ebe8;

}

.navigation-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 60px;
}

@media (max-width: 640px) {
    .navigation-items {
        justify-content: center;
    }
}

.navigation-item a {
    margin: 0 60px;
    list-style: none;
}

.navigation-item > a:hover {
    color: rgb(108, 197, 128);
}

main {
    margin: 0 auto;
    text-align: center;
}

.main__hello {
    background-color: #e0ebe8;
    padding-top: 45vh;
    height: 55vh;
    background-color: #e0ebe8;
}

.main__hello h1 {
    font-size: 2rem;
}

.main__hello p {
    color: green;
}

.main__my-projects h2 {
    margin: 50px 0 0px 0;
    color: #008080;
    font-weight: 300;
}

.list-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

.item-project {
    margin: 40px 100px;
    list-style: none;
    border: 1px solid #008080;
}

.item-project__title {
    margin-top: -5px;
    border-top: 1px solid #008080;
    padding: 10px;
}

.button {
    padding: 10px 60px;
    border: 1px solid #90C695;
    border-radius: 4px;
    background-color: #e0ebe8;
}

.button:hover {
    background: #E4F1FE;
    color: green;
}

.main__contact {
    margin-top: 100px;
    background-color: #c8f7c5;
    padding: 150px 0px;
}

.main__contact h2 {
    font-size: 2rem;    
}

.social-networks {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    align-items: baseline;
}

.social-networks__item {
    margin: 50px;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #e0ebe8;
    align-self: center;
    line-height: 100px;
    font-weight: 700;
}

.social-networks__item:hover {
    background-color: white;
}

.main-footer {
    background-color: #22313f;
    color: white;
    text-align: center;
    padding: 40px 0;
}

.copyright {
    margin-top: 20px;
}

.copyright a {
    text-decoration: underline;
    color: white;
}